
*{
    margin:0;
    padding:0;
    z-index:100;
    overflow:hidden;
    
    
}
Body {
    margin: 0;
    padding: 0;
    background-image: none;
    
    
    
    
}
.showcase{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:100px;
    z-index:2;
    
    
}
.main1{
   display:flex;
   flex-direction:column;
   justify-content:center;
   
   padding:20px;
   
   
   
}
.main1 h2{
    display:flex;   
    justify-content:center
}

.picture{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:2;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}