html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#parent {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}
#Page_Register{
    background-image:url(../Images/Bild2.jpg);
    background-size:cover;
    background-position:center;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
