
<head>
    <link rel="stylesheet" href="css/Unterhaltung.css" />
</head>

<body>
    <div class="container disable-select">
        <h1>Gönn dir eine Pause!</h1>
        <div class="Games">
            <div class=Game1>
                <h1>Spiel Snake</h1>
                <a asp-controller="Unterhaltung" asp-action="Snake" class="SnakeImage"><img src="images/Snake.png"class="SnakeImage"/></a>
            </div>
        </div>
    </div>
</body>